* { font-family: 'Roboto', sans-serif; }

body {margin:0; padding: 0;}

header, footer {
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

h1 {margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    color: antiquewhite;
    text-align: center;}

section {margin: 1rem; min-height: 77vh;}
button {
    background-color: darkslategray;
    color: rgb(91, 91, 139);
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
button:hover {
    background-color: darkgoldenrod;
}

figcaption{ text-transform: uppercase; }

figcaption {font-size: 0.8rem; font-weight:  bold; }
.chico { color: olivedrab; }
.chica { color: steelblue; }

#output { 
    display: flex; 
    width: 100%; 
    flex-wrap: wrap;  
    justify-content: center;
}

.user {
    background-color: burlywood; 
    width: 20%;
    margin: 1rem;
}
img { margin: 0.8rem 0; width: 98%; }

figure, .correo  { margin: 1rem; }

.correo a {
    color: darkslategrey;
    text-decoration: none;
}

.correo-texto { font-family: 'Roboto', sans-serif; }

address {
    text-align: center;
    padding: 1rem;
    color: white;
}