body {
    font-size: 16px;
    background: url(../assets/sunset-1373171_960_720.jpg);
    background-attachment: fixed;
}

p a {
    color: black;
}

a {
    color: black;
}

a[href="http://www.falconmaster.com"] {
    color: black;
    font-size: 30px;
}

div {
    width: 100px;
    height: 100px;
    background: blue; 
    color: white;
    font-size: 30px;
    float: left;
}
/* .caja padre {
    position: relative;
    width: 500px;
    height: 500px;
    background: black;
}
 */
.caja {
    position: static;
/*     top: 100px;
    bottom: 0px;
    right: 0px;
    left: 120px;
} */

/* div p {
    width: 200px;
    background: mediumslateblue;
    color: black;
    margin: 2px 3px;
    padding: 1px;
    border: 2px solid;
    display: inline-block;
}
div class {
    background-color: burlywood;
    
}

div h3 p {
    background-color: darkgrey;
}  */