div {
    width: 100%;
}

img {
    width: 1000px;
    height: 300px;
    margin: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 20px 20px 20px darkblue;
    padding: 10px;
}    

/*     border: 0.1px blue;    Esto le da un marco a la imagen que tendrá la forma redondeada, si le hemos puesto border-radius al 50% y rectangular con los bordes redondeados, si le damos un border-radius al 100% */

a {
    font-size: 20px;
/*     color: green; */
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    display:inline-block;
    background: rgb(82, 82, 150);
    color: black;
    padding: 10px 20px;
    box-shadow: 7px 7px 7px gray;
}

a:hover {
    box-shadow: 7px 7px 7px gray;
}

a:active {
    box-shadow: 10px 10px 10px gray;
}

    /*     padding: 10px 20px; */

/* 
a:active {
    background: orange;
 }
a:visited {

}

a:link {
    color: red;
    font-size: 20px;
}
a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
}
 */



/* Para que el encabezado no esté en negrita

    h1
{
    font-weight: normal;
} */

h1 {
    background: grey;
    text-align: center;
    border-radius: 30px;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 1.5em;
    /* text-decoration underline, overline, line-through */
    text-decoration: none;
  /*   text-transform: capitalize;   */     /* la primera letra de cada palabra aparecerá en mayúsculas */
/*     letter-spacing: 1.5ch;    las letras tendrán un espaciado entre ellas de 1.5ch */
    text-shadow: 5px 5px 5px grey;
}

ul {
    list-style-type:square;
}

ol {
    list-style-type: upper-latin;
}

.menu ul {
    width: 50%;
    background: black;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline-block;
}
.menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: antiquewhite;
}

.menu li a:hover {
    background: pink;
    color: chocolate;
}

table {
    border: 1px solid blue;
    border-collapse: collapse;
}

table td {
    border: 1px solid blue;
    padding: 10px;
}
table td:hover {
    background: grey;
    color: rgb(12, 4, 15);
}

form {
    width: 25%;
    border: 1px solid grey;
    margin: 20px;
    padding: 20px;
}

label {
    font-size: 12px;
    display: block;
    width: 100%;
}

textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}
input, textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid grey;
}

input:focus, textarea:focus {
    border: 1px solid coral;
}

input[type="submit"] {
    margin-bottom: 0px;
    background: blue;
    color: black;
    border: none;
}

input[type="submit"] {
    background: cadetblue;
    cursor: pointer;
}