section {
    display: flex;
    align-items: center
}
figure {
    width: 50%;
}

img {
    max-width: 100%;
}

.button {
    background-color: rgb(31, 165, 109);
    border: 2px darkkhaki;
    padding: .6rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px gainsboro;
}