body {
    background-color: rgb(86, 136, 136);
}
.content-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}
h1 {
    color: black;
    text-align: left;
}

menu.ol {
    color: black;
    text-align: center;
}
    

h2 {
    color: black
    
}
h3 {
    color: black;
}
div p {
    align-self: auto
}

p {
    color: black;
    font-family: verdana;
    font-size: 20px;
} 
p {
    background-color: blue;
} 
