a {
    font-size: 20px;
/*     color: green; */
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    display:inline-block;
    background: rgb(82, 82, 150);
    color: black;
    padding: 10px 20px;
    box-shadow: 7px 7px 7px gray;

a:hover {
    box-shadow: 7px 7px 7px gray;
}
a:active {
    box-shadow: 10px 10px 10px gray;
}

    /*     padding: 10px 20px; */
}
/* 
a:active {
    background: orange;
 }
a:visited {

}

a:link {
    color: red;
    font-size: 20px;
}
a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
}
 */



/* Para que el encabezado no esté en negrita

    h1
{
    font-weight: normal;
} */

h1 {
    background: grey;
    text-align: center;
}
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 1.5em;
    /* text-decoration underline, overline, line-through */
    text-decoration: none;
  /*   text-transform: capitalize;   */     /* la primera letra de cada palabra aparecerá en mayúsculas */
/*     letter-spacing: 1.5ch;    las letras tendrán un espaciado entre ellas de 1.5ch */
    text-shadow: 5px 5px 5px grey;
}