img {
/*     width: fit-content; */
       max-width: 100%;            /*   Esto significa que la imagen sale al 100% de sí misma.  */
}

p {
    text-align: justify;
}

.image-wrapper-50 {        
    width: 50%;
    /* float: left; 
    margin-right: 1rem;   */                      /* la imagen flota en medio de los párrafos  */
    float: right;
    margin-left: 1rem;
}

.image-wrapper-25 {
    width: 25%;
}

.image-wrapper-75 {
    width: 75%;
}

.clearfix {
    border-top: 1px solid gainsboro;
}

.fondos {
    height: 100vh;
    background-color: #4C90D9;
    background-image: url(../assets/3boats.jpg);
    background-repeat: no-repeat;
/*     background-size: contain;    */
    background-size: cover;                 /* cúbreme todo el espacio disponible pero respetando la proporcionalidad de la imagen */
    background-blend-mode: soft-light;
}
 
.fondos h2 {
    text-align: center;
/*     line-height: 100vh; */
    padding-top: 25vh;
    color: #191814 ;
    opacity: 1;
}