body {
    background-color: rgb(120, 145, 145);
}

nav {
    position: absolute;
    top: 2px;
    right: 35px;
}

.content-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}
h1 {
    color: black;
    text-align: left;
}

.main-menu {
    border: 1px solid;
    border-radius: 5px;
}

.main-menu li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.menu ol {
    list-style: none;
    margin: 0;
    padding: 0.5em;
}


h2 {
    color: black
    
}
h3 {
    color: black;
}
div p {
    align-self: auto;
}

.imagenes {
    float: left;
    margin-right: 1em;
    margin-left: 2.5em;
}

.paco_rabal_la_sangre_derramada {
    display: flex;
    width: 100%;

}
.paco_rabal_la_sangre_derramada iframe {
    justify-content: center;
}

p {
    color: black;
    font-family: verdana;
    font-size: 20px;
}