body {
    background-color: antiquewhite; 
    font-family: 'Norican', cursive;
    text-align: center;
}

header, section {
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: 1px dashed brown;
    padding: 1.5rem;
}

.content {
    justify-content: center;
    align-items: center;
    background-color: antiquewhite; 
}

.cronometro {
    height:60vh;
    width:100%;
    background-image: url("../assets/cronometro.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content-botones {
    padding-bottom: 2rem;
}

.output {
    font-size: 8rem;
    text-align: center;
}

.output p { 
    margin-top: 0;
    padding-top: 10rem;

}

button{
    width: 10%;
    background-color: #fa6666;
    border: none;
    color: white;
    padding: 0.7rem 1rem;
    text-transform: uppercase;
}

.button-activo {
    background-color: #fa6666;
}