* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
.wrapper {
    width: 100%;
    float: right;
    overflow: hidden;
}

header, .main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}
header div {
    background: yellow;
    overflow: hidden;
    float: left;
}
.header2 {
    position: fixed;
    height: 100px;
}
.header2 .logo {
    line-height: 50px;
    font-size: 30px;
}
.header2 nav {
    line-height: 50px;
    float: right;
    
}
header div .menu {
    list-style: none;
    text-align: center;
}

.main .menu {
    float: right;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

header div ul li a:hover {
    padding: 10px 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

section .main nav ul li {
    text-align: center;
    display: inline-block;

}
